faster-whisper==1.2.1
numpy==2.2.6
pandas==3.0.5
psycopg[binary]==3.3.4
python-dotenv==1.2.2
sentence-transformers==5.6.1
silero-vad==6.2.1
sqlalchemy==2.0.51
torch==2.13.0
tqdm==4.69.0
transformers==5.14.1
